.filter-ctn {

width: 400px;
margin: 10px;
height: 84vh;
border: 5px outset #cdc8c2;
background-color: #cdc8c2;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
input {
    width: 75%;
    margin: 5px;
    height: 2rem;
    border: 3px inset #cdc8c2;
}
label {
    margin-top: .5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-btn {
    border: 3px outset #cdc8c2;
    margin-top: 3rem;
    width: 30%;
}