<button id="add-btn" (click)="toggleAdd()">Add person</button>


<div class="details-panel" *ngIf="showEdit">
  <div class="top-bar"><button (click)="toggleAdd()">X</button></div>

  <h3>Add a person</h3>

  <form (ngSubmit)="onSubmit()">
  
      <label for="first-name">First Name
      <input type="text" id="first-name" name="first-name" [(ngModel)]="firstName" required>
    </label>

      <label for="last-name">Last Name
      <input type="text" id="last-name" name="last-name" [(ngModel)]="lastName" required>
  </label>
      <label for="gender">Gender
      <input type="text" id="gender" name="gender" [(ngModel)]="gender" required>
  </label>
      <label for="age">Age
      <input type="number" id="age" name="age" [(ngModel)]="age" required>
  </label>
      <label for="major">Major
      <input type="text" id="major" name="major" [(ngModel)]="major" required>
  </label>
      <label for="occupation">Occupation
      <input type="text" id="occupation" name="occupation" [(ngModel)]="occupation" required>
  </label>
      <label for="location">Location
      <input type="text" id="location" name="location" [(ngModel)]="location" required>
  </label>
  <p class="error">{{error}}</p>
      <input type="submit" value="Apply" class="submit-btn" >
  
  </form>

    

    

  
</div>

