button {
    background-color: #cdc8c2;
    border-width: 3px;
    border-style: solid;
    border-color: #f3eee9 #797671 #797671 #f3eee9;
    border-radius: 0;
      border-radius: 0;
      margin: 1px;
      /* width: 20px; */
  }
  button:hover {
    outline: 1px dotted black;
    
}
button:active {
    border-color:  #797671 #f3eee9 #f3eee9 #797671 ;
}
button:focus {
    outline: 2px solid black;
}
  .details-panel{
    position: fixed;
    border-width: 3px;
    border-style: solid;
    border-color: #f3eee9 #797671 #797671 #f3eee9;
    border-radius: 0;
    background-color: #cdc8c2;
    top: 180px;
    left: 700px;
    width: 500px;
    height: 550px;
    box-shadow: 2px 2px 0px black, -2px -2px 0px black;
    display: flex;
    flex-flow: column nowrap;

  }

  .top-bar {
    background: linear-gradient(90deg, #0c2371, #a8c0e4);
    /* border: 5px ridge #cdc8c2; */
    width: 99%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }


h3 {
  color: white;
  margin: 0 8px;
  /* justify-self: flex-start; */
  font-weight: 500;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
input {
    width: 75%;
    margin: 5px;
    height: 2rem;
    border-width: 3px;
    border-style: solid;
    border-color:  #797671 #f3eee9 #f3eee9 #797671 ;
    
}
input:focus {
  outline: 2px solid blue;
}
label {
    margin-top: .5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-btn {
    border-width: 3px;
    border-style: solid;
    border-color: #f3eee9 #797671 #797671 #f3eee9;
    border-radius: 0;
    background-color: #cdc8c2;
    margin-top: 0rem;
    width: 20%;
    height: 2rem;
}
.error {
    /* border: 1px solid darkred; */
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    height: 1.5rem;
    margin-top: 0.5rem;
}
.submit-btn:hover {
  outline: 1px dotted black;
  
}
.submit-btn:active {
  border-color:  #797671 #f3eee9 #f3eee9 #797671 ;
}
.submit-btn:focus {
  outline: 2px solid black;
}

fa-icon {
  font-size: .8rem;
  color: hsl(0, 0%, 10%);
}