<button id="details-btn" (click)="toggleDetails()">D</button>


<div class="details-panel" *ngIf="showdetails">
  <div class="top-bar"><button (click)="toggleDetails()">X</button></div>
 

    <ul>
      <li>Id: {{person.id}}</li>
      <li>Last Name: {{person.last_name}}</li>
      <li>First Name: {{person.first_name}}</li>
      <li>Gender: {{person.gender}}</li>
      <li>Age: {{person.age}}</li>
      <li>Major: {{person.major}}</li>
      <li>Occupation: {{person.occupation}}</li>
      <li>Location: {{person.location}}</li>

    </ul>

    <button (click)="toggleDetails()" class="close-btn">Close</button>

  
</div>
