<button id="details-btn" (click)="toggleDetails()">D</button>


<div class="details-panel" *ngIf="showdetails">
  <div class="top-bar"><button (click)="toggleDetails()">X</button></div>
  {{person}}

    <ul>
      <li>{{person.id}}</li>
      <li>{{person.first_name}}</li>
      <li>{{person.last_name}}</li>
      <li>{{person.gender}}</li>
      <li>{{person.age}}</li>
      <li>{{person.major}}</li>
      <li>{{person.occupation}}</li>
      <li>{{person.location}}</li>

    </ul>

  
</div>
