

  <header>
    <h1>Database Viewer</h1>
  </header>
  <main>
    <app-filter (onApplyFilter)="getFilteredData($event)"></app-filter>
    <app-table [tableData]="data" (onClickDelete)="onDelete($event)" (onClickEdit)="onEdit($event)"></app-table>
    <div class="right-btn-ctn">
      <app-add-person (onAddPerson)="addPerson($event)"></app-add-person>
      <button (click)="clearFilter()">Clear filter</button>
  
    </div>
    
  </main>
  <footer>
  <p>Made by CJL Fortunato. 
    <a href="https://github.com/CJLFortunato/database-viewer" target="_blank" rel="noreferrer">Project GitHub</a>
    <a href="https://cjlfortunato.work" target="_blank" rel="noreferrer">Portfolio</a>
    
  </p>
  </footer>





<!--  -->