button {
    background-color: #cdc8c2;
      border: 3px outset #cdc8c2;
      border-radius: 0;
      margin: 1px;
  }

  button:active {
    border: 3px inset #cdc8c2;
  }

  .delete-panel{
    position: fixed;
    border: 3px outset #cdc8c2;
    background-color: #cdc8c2;
    top: 180px;
    left: 700px;
    width: 550px;
    height: 250px;
    box-shadow: 2px 2px 0px black, -2px -2px 0px black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

  }

  .top-bar {
    background: linear-gradient(90deg, #0c2371, #a8c0e4);
    /* border: 5px ridge #cdc8c2; */
    width: 99%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .text-ctn {
    width: 90%;
    /* height: 80%; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px dashed darkolivegreen; */
    margin-top: 2.5rem;
  }

  p {
      font-size: 1.2rem;
      /* border: 1px dashed darkolivegreen; */
      margin: 0;
  }

  strong {
      color: red;
  }

  .text-btn {
    height: 2rem;
    width: 15%;
    margin: 1rem;
  }

  .btn-ctn {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
  }