button {
    background-color: #cdc8c2;
    border-width: 3px;
    border-style: solid;
    border-color: #f3eee9 #797671 #797671 #f3eee9;
    border-radius: 0;
      margin: 1px;
  }

  .delete-panel{
    position: fixed;
    border-width: 3px;
    border-style: solid;
    border-color: #f3eee9 #797671 #797671 #f3eee9;
    border-radius: 0;
    background-color: #cdc8c2;
    top: 180px;
    left: 700px;
    width: 550px;
    height: 250px;
    box-shadow: 2px 2px 0px black, -2px -2px 0px black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

  }

  .top-bar {
    background: linear-gradient(90deg, #0c2371, #a8c0e4);
    /* border: 5px ridge #cdc8c2; */
    width: 99%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  h3 {
    color: white;
    margin: 0 8px;
    /* justify-self: flex-start; */
    font-weight: 500;

  }

  .text-ctn {
    width: 90%;
    /* height: 80%; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px dashed darkolivegreen; */
    margin-top: 2.5rem;
  }

  p {
      font-size: 1.2rem;
      /* border: 1px dashed darkolivegreen; */
      margin: 0;
      text-align: center;
  }

  strong {
      color: red;
  }

  .text-btn {
    height: 2rem;
    width: 15%;
    margin: 1rem;
  }

  .btn-ctn {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
  }
  button:hover {
    outline: 1px dotted black;
    
}
button:active {
    border-color:  #797671 #f3eee9 #f3eee9 #797671 ;
}
button:focus {
    outline: 2px solid black;
}
fa-icon {
  font-size: 1rem;
  color: hsl(0, 0%, 10%);
}