#add-btn {
    /* background-color: aqua; */
    width: 100px;
    /* position: relative; */
    height: 2rem;
}

button {
    background-color: #cdc8c2;
      border: 3px outset #cdc8c2;
      border-radius: 0;
      margin: 1px;
      
  }
  button:active {
    border: 3px inset #cdc8c2;
  }

  .details-panel{
    position: fixed;
    border: 3px outset #cdc8c2;
    background-color: #cdc8c2;
    top: 180px;
    left: 700px;
    width: 550px;
    height: 600px;
    box-shadow: 2px 2px 0px black, -2px -2px 0px black;
    display: flex;
    flex-flow: column nowrap;

  }

  .top-bar {
    background: linear-gradient(90deg, #0c2371, #a8c0e4);
    /* border: 5px ridge #cdc8c2; */
    width: 99%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


h3 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
input {
    width: 75%;
    margin: 5px;
    height: 2rem;
    border: 3px inset #cdc8c2;
}
label {
    margin-top: .5rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-btn {
    border: 3px outset #cdc8c2;
    margin-top: 0rem;
    width: 20%;
    height: 2rem;
}
.error {
    /* border: 1px solid darkred; */
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    height: 1.5rem;
}