.table {
  width: 55vw;
  height: 85vh;
  border: 10px inset #cdc8c2;
  overflow: scroll;
  background-color: white;
  margin: 0 15px;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
    background-color: white; 
  }

  tbody {
    padding-top: 4rem;
  }
  
  thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 10%;
  }
  
  thead th:nth-child(3) {
    width: 10%;
  }
  
  thead th:nth-child(4) {
    width: 5%;
  }
  thead th:nth-child(5) {
    width: 15%;
  }
  thead th:nth-child(6) {
    width: 15%;
  }
  thead th:nth-child(7) {
    width: 15%;
  }
  thead th:nth-child(8) {
    width: 10%;
  }
  
  
  td {
    padding: 1px;
    border-bottom: 1px solid #cdc8c2;
  }

  th{
      background-color: #cdc8c2;
      border: 3px outset #cdc8c2;
      font-weight: 400;
      padding: 4px;
  }

  button {
    background-color: #cdc8c2;
      border: 3px outset #cdc8c2;
      border-radius: 0;
      margin: 1px;
  }

  .btn-ctn {
    display: flex;
    justify-content: space-evenly;
  }