<div class="table">

    <table>
        <thead>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Major</th>
            <th>Occupation</th>
            <th>Location</th>
            <th></th>
        </thead>
        <tbody *ngFor="let person of tableData">
            <tr>
                <td>{{person['last_name']}}</td>
                <td>{{person['first_name']}}</td>
                <td>{{person.gender}}</td>
                <td>{{person.age}}</td>
                <td>{{person.major}}</td>
                <td>{{person.occupation}}</td>
                <td>{{person.location}}</td>
                <th> <app-details [person]="person"></app-details> <button id="edit-btn">E</button> <app-delete [person]="person" (onDeletePerson)="onDelete(person.id)"></app-delete> </th>
            </tr>

        </tbody>
    </table>

    

</div>
